.experience {
  background-color: #FFF8E8; 
  color: #228B22;
  font-family: 'Calibre', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  padding: 100px 50px;
  margin: 0 auto;
  display: block;
  max-width: 1000px;
}

.experience h2 {
  color: #001F3F;
  font-size: clamp(24px, 4vw, 48px);
  font-weight: 600;
}

.jobs {
  padding: 20px 100px 40px 20px;
}

.education {
  padding: 20px 20px 40px 100px;
}

.job, .edu {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.toggle-icon {
  margin-right: 10px; 
  font-weight: bold;
  font-size: 22px; 
  color: #228B22; 
  transition: transform 0.5s ease, color 0.3s ease; 
  display: inline-block;
}

.toggle-icon.expanded {
  transform: rotate(180deg); 
}

.toggle-icon {
  animation: swirl 0.5s ease-in-out; 
}

.edu h3:hover .toggle-icon {
  color: #8B4513; 
}

.job h3:hover .toggle-icon {
  color: #8B4513; 
}

.job h3 ,.edu h3 {
  color: #228B22; 
  font-size: 16px;
  /* transition: color 0.3s ease; */
  margin-bottom: 0; 
}

.job h3 a, .edu h3 a {
  color: #8B4513; 
  transition: color 0.3s ease;
}

.job h3 a span:hover, .edu h3 a span:hover {
  text-decoration: underline; 
  transition: all 0.3s ease
}

.job .range,.edu .range {
  color: #8892b0;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-left: 20px;
}

.job ul, .edu ul {
  margin-top: 10px;
  list-style-type: square;
  margin-left: 40px;
}

.job ul li, .edu ul li  {
  color: #8892b0;
  list-style: none;
}

.job ul li::before {
  content: "-";
  position: absolute;
  left: 20px;
  color: #228B22;
  font-size: small;
}

.study {
  text-align: right;
}

@keyframes swirl {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg); 
  }
  100% {
    transform: rotate(180deg); 
  }
}

@media (max-width: 768px) {
  .experience {
    padding: 100px 0;
  }

  .jobs {
    padding: 20px 20px 40px 20px;
  }

  .education {
    padding: 20px 20px 40px 20px;
  }
}